h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1

.h2, h2
  text-transform: uppercase
  color: $white
  +bold
  font-size: 60px
  line-height: 1.2
  +css-lock(40, 60, 576, 1199, font-size)


.h2-subttl
  font-size: 32px
  +thin
  color: $white
  line-height: 1.2
  +css-lock(24, 32, 576, 1199, font-size)

.h3, h3

.h4, h4

.h5, h5

.h6, h6
