<!-- begin section -->
<section class="section section--bg section--oil js-lazy" data-background-image="img/about/Oil.jpg">
  <div class="lines lines--section lines--section-bg lines--7">
   <div class="line line--1"></div>
   <div class="line line--2"></div>
   <div class="line line--3"></div>
   <div class="line line--4"></div>
   <div class="line line--5"></div>
   <div class="line line--6"></div>
   <div class="line line--7"></div>
 </div>

 <div class="letters letters-7">
   <div class="letter letter--1"><span>m</span></div>
   <div class="letter letter--2"><span>o</span></div>
   <div class="letter letter--3"><span>n</span></div>
   <div class="letter letter--4"><span>o</span></div>
   <div class="letter letter--5"><span>i</span></div>
   <div class="letter letter--6"><span>l</span></div>
 </div>

 <div class="section__block-left-2-7">
   <h2 class="title title--white">также мы предлагаем:</h2>
 </div>

 <div class="section__block-left-4-7">
   <div class="text text--white text--thin">Моторные масла «MONOIL» для легковых автомобилей и техники большой грузоподъёмности, моторные масла для газовых двигателей, 2Т/4Т масла и специальные жидкости, смазки и комплексные решения для промышленности. </div>
 </div> 
</section>
<!-- end section -->