$c-text: #000
$white: #fff
$red: #b9282e
$white-transp: rgba(#fff, .15)
$header-height: 97px
$header-height-mob: 60px

$left-1: percentage(380/1920)
$left-2: percentage(850/1920)
$left-3: percentage(1370/1920)

$width-1: percentage(380/1920)
$width-2: percentage(470/1920)
$width-3: percentage(520/1920)
$width-4: percentage(550/1920)