{%set
screens = [
  {
    img: 'home-2.jpg',
    title: 'АКУМУЛЯТОРИ',
    subttl: 'ДЛЯ ЛЕГКОВИХ АВТОМОБІЛІВ',
    scroll: 'ДЛЯ ВАНТАЖНИХ',
    nextIndex: 1
  },
  {
    img: 'home-3.jpg',
    title: 'АКУМУЛЯТОРИ',
    subttl: 'ДЛЯ ВАНТАЖНИХ АВТОМОБІЛІВ ',
    scroll: 'ДЛЯ СІЛЬСЬКОГОСПОДАРСЬких',
    nextIndex: 2
  },
  {
    img: 'home-4.jpg',
    title: 'АКУМУЛЯТОРИ',
    subttl: 'ДЛЯ СІЛЬСЬКОГОСПОДАРСЬКОЇ ТЕХНІКИ',
    scroll: 'ДЛЯ ГАРАНТІЙНОГО ЖИВЛЕННЯ ',
    nextIndex: 3
  },
  {
    img: 'home-5.jpg',
    title: 'АКУМУЛЯТОРИ',
    subttl: 'ДЛЯ ГАРАНТІЙНОГО ЖИВЛЕННЯ ЕНЕРГОСИСТЕМ',
    scroll: 'ДЛЯ АКТИВНОГО ВІДПОЧИНКУ',
    nextIndex: 4
  },
  {
    img: 'home-6.jpg',
    title: 'АКУМУЛЯТОРИ',
    subttl: 'ДЛЯ АКТИВНОГО ВІДПОЧИНКУ'
  }
]
%}

<!-- begin fullpage -->
<div class="fullpage js-fullpage">
  {% for i in screens %}
  <!-- begin fullpage-section -->
  <div class="fullpage-section js-lazy" data-background-image="img/home/{{ i.img }}">
   

    {% if i.descr %}
    <div class="fullpage-section__descr">
      <div>accumulatory</div>
      <div>battery</div>
      <div>systems</div>
    </div>
    {% endif %}

    <div class="fullpage-section__block{% if i.blockBottom %} fullpage-section__block-bottom{% endif %}">
      {% if i.title %}
      <div class="fullpage-section__title">
        <h2 class="h2">{{ i.title }}</h2>
        <div class="overflow-hidden">
          <div class="h2-subttl">{{ i.subttl }}</div>
        </div>
        
      </div>
      {% endif %}

      <div class="overflow-hidden">
        <div class="line-sm"></div>
      </div>

      <div class="overflow-hidden">
        {{ mixins.btn(
          title = 'Детальніше'
        ) }}
      </div>
      
    </div>

    {% if i.scroll %}

    <div class="fullpage-section__scroll">
      <!-- begin scroll-down -->
      <div class="scroll-down">
        <a href="#" class="scroll-down__btn js-fullpage-next" data-index="{{ i.nextIndex }}">
          <span class="scroll-down__mouse"></span>
          <span class="scroll-down__arr"></span>
        </a>
        <div class="scroll-down__title">{{ i.scroll }}</div>
      </div>
      <!-- end scroll-down -->
    </div>

    {% endif %}

    <div class="fullpage-section__copy copy">&copy; 2019 ООО «ABS ACCUMULATORY BATTERY SYSTEMS»</div>
   
  </div>
  <!-- end fullpage-section -->
  {% endfor %}  
</div>
<!-- end fullpage -->

<div class="fullpage__nav js-fullpage-nav">
  </div>