<!-- begin subscribe -->
<div class="subscribe">
  <div class="subscribe__inner">
    <div class="subscribe__title">Бажаєте отримувати новини на електронну пошту?</div>

    <div class="subscribe__form">
      <form>
        {{ mixins.input(
          name = 'input',
          mod = 'input--arrow',
          type = 'email',
          placeholder = 'Введіть ваш E-mail',
          fieldClass = ''
        ) }}

        {{ mixins.btn(
          title = 'ПІДТВЕРДИТИ ПІДПИСКУ',
          mod = 'btn--sec btn--md',
          href = false
        ) }}
      </form>
    </div>
  </div>
</div>
<!-- end subscribe -->