{%set
form = [
  { mod: 'input--lg', name: 'input', type: 'text', placeholder: 'ІМ’Я' },
  { mod: 'input--lg', name: 'input', type: 'tel', placeholder: 'телефон' },
  { mod: 'input--lg', name: 'input', type: 'email', placeholder: 'E-MAIL' },
  { mod: 'textarea--lg', name: 'textarea', type: '', placeholder: 'Повідомлення' }
]
%}

<!-- begin section -->
<section class="section section--md">
  <div class="container">
    <!-- begin contacts-form -->
    <div class="contacts-form">
      <div class="contacts-form__left">
        <div class="contacts-form__title">
          <h2 class="title title--bold title--ttn">Ми раді допомогти вам у будь-якому питанні, яке вас турбує</h2>
        </div>

        <div class="contacts-form__text text text--thin text--gray">Будь-ласка, заповніть форму праворуч та ми зв’яжемося з вами в найближчий час</div>
      </div>

      <div class="contacts-form__right">
        <div class="contacts-form__form-title title-under is-center">
          <h2 class="title title--bold">КОНТАКТНА ФОРМА</h2>
        </div>

        <div class="contacts-form__form form form--contacts">
          {% for i in form %}
          <form>
            <div class="form__field">
              {{ mixins.input(
                name = i.name,
                mod = i.mod,
                type = i.type,
                placeholder = i.placeholder,
                value = '',
                fieldClass = ''
              ) }}
            </div>
            {% endfor %}

            <div class="form__btn">
              {{ mixins.btn(
                title = 'зв’язатися',
                mod = 'btn--sec btn--md',
                href = false
              ) }}
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end contacts-form -->
  </div>
</section>
<!-- end section -->