.catalog-item
  --main-color: #{$black}
  +flex()
  +notlast
    margin-bottom: 60px
  +sm
    display: block
    position: relative
  &__img
    width: 30%
    +md
      width: 20%
    +sm
      width: 150px
      height: 100px
      position: absolute
      top: 0
      left: 0
  &__content
    width: 70%
    +md
      width: 80%
    +sm
      width: 100%
  &__title
    margin-bottom: 35px
    +sm
      // margin-bottom: 25px
      padding-left: 150px
    +xs
      // margin-bottom: 15px

  &.is-gray
    --main-color: #{$gray}
  &.is-blue-light
    --main-color: #{$blue-light}
  &.is-blue-lighten
    --main-color: #{$blue-lighten}
  &.is-green
    --main-color: #{$green}
  &.is-orange
    --main-color: #{$orange}
  &.is-red
    --main-color: #{$red}

.characteristics
  +flex(space-between, normal, row, wrap)
  &__item
    text-align: center
    margin-left: 7px
    margin-right: 7px
    +xs
      width: calc(33.33333% - 14px)
      margin-bottom: 15px
    +xss
      width: calc(50% - 14px)
  &__icon
    margin-bottom: 10px
    .icon
      font-size: 34px
      fill: var(--main-color)
  &__item-title
    text-transform: uppercase
    +light
    font-size: $fz-sm
    max-width: 82px
    margin-left: auto
    margin-right: auto
    color: $black
    margin-bottom: 10px
  &__rating
    text-align: center
    color: $white
    background-color: var(--main-color)
    padding: 4px 4px 3px
    +light
    font-size: $fz-sm
    .icon
      fill: $white
      font-size: $fz-sm
      position: relative
      top: .2em