.controls
  +flex(flex-start, center)
  &__title
    display: inline-block
    text-transform: uppercase
    margin-right: 5px
  &__text
    display: inline-block
    color: $red
    text-transform: uppercase

.controls__item  
  width: 33.33333%
  padding-left: 20px
  padding-right: 10px
  +reg
  +notlast
    border-right: 1px solid  $c-border
  
