.footer
  background-color: $white
  text-align: center
  padding-top: 20px
  padding-bottom: 20px
  +flex(center, center)
  color: $gray-dark
  &__copy
    text-transform: uppercase
    font-size: $fz-md
    margin-right: 20px