.main
  --main-color:      #{$black}
  --secondary-color: #{$gray}
  $this: &
  +image('bg.jpg')
  background-repeat: repeat-y
  background-size: auto
  position: relative
  z-index: 1
  padding-bottom: var(--section-padding)
  padding-top: var(--section-padding)
  opacity: 0
  &.has-aside-open
    .aside
      transform: translate(0, 0)
      position: relative
    #{$this}__aside
      transform: translate(0, 0)
      +lg
        position: fixed
        overflow: auto
        z-index: 10
        top: 0
        padding-top: $header-height
        background-color: rgba($black, .5)
        width: 100%
      +lg
        padding-top: $header-height-mob
    #{$this}__content
      transform: translate($aside-width, 0)
      padding-right: $aside-width
      +lg
        transform: translate(0, 0)
        padding-right: 0
        // z-index: 0
  &.has-aside-open-mob
    #{$this}__content
      +lg
          z-index: 0
    #{$this}__aside
      z-index: 10
  &__aside
    position: absolute
    z-index: 2
    
    top: 0
    left: 0
    height: 100%
    background-color: $white
    border-bottom: 1px solid  $c-border
    transform: translate(-100%, 0)
    +tr(transform .3s)

    +lg
      background-color: transparent
      +tr(transform 0s, background-color .3s)
      transform: translate(0, 0)
      z-index: 0
      .aside
        transform: translate(-100%, 0)

  &__content
    position: relative
    z-index: 1
    +tr(transform .3s, padding .3s)
    +lg
      position: relative
      z-index: 1
  &__hero
    +cover
    padding-top: 25%
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%

  &--full
    padding-top: $subnav-height
    margin-top: $header-height
    +lg
      margin-top: $header-height-mob + $subnav-height
    #{$this}__aside
      top: $subnav-height
      height: calc(100% - #{$subnav-height})
    #{$this}__content
      padding-left: 50px

.content
  max-width: 1050px
  margin-left: auto
  margin-right: auto
  &__row
    +flex(flex-start, normal, row, wrap)
    margin-left: -10px
    margin-right: -10px
    margin-bottom: 20px
  &__row-align-end
    align-items: flex-end
  &__col
    width: 50%
    padding-left: 10px
    padding-right: 10px
  &__table
    margin-bottom: 50px
  &__title
    margin-bottom: 30px
    text-align: center

  &--full
    max-width: 1440px

.content-list
  font-size: 0
  li    
    display: inline-block
    vertical-align: top
    width: 50%
    font-size: $fz
    padding-right: 10px
    &::before
      content: '+'
      font-size: 24px
      display: inline-block
      position: relative
      top: .2em
      margin-right: .2em
      color: var(--main-color)
    +notlast
      margin-bottom: 15px

.content-block
  --padding: 20px
  background-color: $white
  padding: var(--padding)
  &__title
    margin-bottom: 15px
  &__block
    margin-left: calc(0px - var(--padding))
    margin-right: calc(0px - var(--padding))
    padding: var(--padding)
    +notlast
      border-bottom: 1px solid  $c-border
  &__block-flex
    +flex(flex-start, center)
  &__icons
    background-color: var(--secondary-color)
    padding: 40px 25px
    margin-bottom: 15px
  &__img
    width: 25%
  &__title
    flex: 1
    padding-right: 10px
  &__price
    width: 30%